body{
	font-family: times;
	background-color: #FF9999;
	border: 2px solid #336633;
	padding: 10px;
	}
h1 {
	color: #7A007A;
	padding: 10px;
	text-align: center;
	}
h2 {
	color: #A24DA2;
	}
h3 {
	color: #B571B5;
	}
table {
	border: 3px solid #336699;
}
td {
	border: 1px dotted #9999FF;
}
th {
	border: 1px dotted #336699;
}
legend {
	font-weight: bold;
}
ul {
	border: 3px outset #FF9999;
}
label {
	font-style: bold;
}
p {
	color: #0066CC;
	font-style: bold;
}
